<% if Room.any? %>
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th> 
        <th>Description</th>
        <th>Beds</th>
      </tr>
    </thead>
    <tbody>
      <% Room.all.each do |room| %>
        <tr>
          <td><%= room.id %></td>
          <td><%= room.name %></td>
          <td><%= room.description %></td>
          <td><%= room.beds %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  No rooms here! Use Rails console to add some.
<% end %>